<div class="container-fluid">
  <div class="container text-center">
    <p>
      <ngb-alert >
        <strong>Empujar Ordenes Facturador:</strong> Recuerde debe validar idEvent y orden que existan.
      </ngb-alert>
    </p>
    <p>Fecha Cuadratura</p>
    <button class="btn btn-outline-primary" (click)="login()"> Realizar cuadratura
      <ng-icon name="heroWifi"></ng-icon>
    </button>
    <button class="btn btn-outline-primary" (click)="error()"> Buscar ordenes error
      <ng-icon name="heroWifi"></ng-icon>
    </button>
  </div>
</div>
