<div class="container-fluid">
  <div class="container text-center">
    <p>
      <ngb-alert >
        <strong>Empujar Ordenes Facturador:</strong> Recuerde debe validar idEvent y orden que existan.
      </ngb-alert>
    </p>
    <button class="btn btn-outline-primary" (click)="enviarListaConPausa()" > Empujar ordenes quedadas
      <ng-icon name="heroWifi"></ng-icon>
    </button>
    <br><br><br>
    <div class="row text-center">
      <div class="col-sm">
        <form class="orden-reinject" (ngSubmit)="buscarOrden()">
          <input [(ngModel)]="ordenInput"
                 (ngModelChange)="convertirAMayusculas($event)"
                 name="ordenEjemplo"
                 type="text" class="form-control" placeholder="Ingrese la orden ejemplo : F00384177"
                 aria-label="Username" aria-describedby="basic-addon1">
          <button type="submit" class="btn btn-outline-primary" *ngIf="mostrarBotonVerificarOrden">Verificar orden
            <ng-icon name="heroWifi"></ng-icon>
          </button>
        </form>
      </div>
    </div>

  </div>
</div>
